.sushi-goat-container {
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
}

.sushi-goat-vertical-split {
  width: 100%;
  height: calc((100vh - 60px) / 2);
  display: flex;
  justify-content: center;
  position: relative;
}

.sushi-goat-word-container {
  position: absolute;
  display: flex;
  bottom: 60px;
}

.sushi-goat-word-container-letter {
  height: 50px;
  width: 50px;
  font-size: 32px;
}

.sushi-goat-submit {
  position: absolute;
  bottom: 10px;
  background-color: green;
  font-size: 32px;
  cursor: pointer;
}

.sushi-goat-boat-container {
  width: calc(50% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background-color: pink;
}

.sushi-goat-submit:disabled {
  background-color: #999999;

}

.sushi-goat-letter-container {
  width: calc((100vh - 60px) / 2); 
  height: calc((100vh - 60px) / 2);
}

.sushi-goat-letter-container-row {
  width: calc((100vh - 60px) / 2); 
  height: calc((100vh - 60px) / 8); 
  display: flex;
}

.sushi-goat-letter-container-letter {
  width: calc((100vh - 60px) / 8);  
  height: calc((100vh - 60px) / 8); 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  cursor: pointer;
}

.sushi-goat-letter-container-letter span {
  font-size: 64px;
}